<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitmen | Spy Agency</title>
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <%- include('./layout/topbar') -%>

    <div class="container mt-10 mx-auto px-10">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-10">List of Hitmen</h1>
        </div>
        <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th class="w-6"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < hitmen.length; i++) { %>
                        <tr>
                            <td><%= hitmen[i].id %></td>
                            <td><%= hitmen[i].name %></td>
                            <td><%= hitmen[i].email %></td>
                            <td>
                                <div class="badge <%= (hitmen[i].active == 1 ? 'badge-success' : 'badge-error') %> gap-2">
                                    <span><%= hitmen[i].active == 1 ? 'active' : 'inactive' %></span>
                                </div>
                            </td>
                            <td>
                                <a href="/hitmen/<%= hitmen[i].id %>" class="btn btn-sm btn-primary">View</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>